<div class="row">
<h1>Actions</h1>
<table>
    <tr>
        <th>Price</th>
        <th>Type</th>
        <th>When</th>

    </tr>

    {{#each actions}}

    <tr>
          <td>{{cost}}</td>
          <td>{{type}}</td>
          <td>{{ago}}</td>

            </tr>

    {{/each}}

</table>
</div>